.avatarImg {
    border-radius: 50px;
}

.avatar_dashboard {
    border-radius: 50px;
    margin: 0 15px;
}

.avatar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.avatar_inner {
    width: 65%;
}
.langTheme {
    display: flex;
}

.avatar_about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(252, 108, 133, 0.15);
}

.avatar_name {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #161B23;
}

.avatar_time {
    font-size: 24px;
    font-weight: 400;
}

.avatar_chat {
    width: 30%;
}

.avatar_chartInner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    margin-bottom: 20px;
    background-color: rgba(252, 108, 133, 0.15);
    border-radius: 20px;
}

.charts_text{
    display: flex;
    align-items: center;
    margin: 0;
    margin: 10px 0 10px 0;
}

.chart_percentage {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
}

.chart_name {
    font-size: 16px;
    font-weight: 400;
    color: #161B23;
}

.chart {
    position: absolute;
    left: 10%;
    bottom: 5%;
}

.week_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.emotion_week {
    padding: 10px 30px;
    background-color: rgba(252, 108, 133, 0.15);
    border-radius: 20px;
    margin-top: 15px;
}

.week_item {
    text-align: center;
}

.week_heading {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.weekImg_come {
    width: 80px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #FA8072;
}

.days {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 7px 0;
}

.weekImg_leave{
    width: 80px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #FC6C85;
}


.chat{
    display: flex;
    justify-content: space-between;
    height: 69%;
    padding: 15px;
    border-radius: 20px;
    background-color: #F4C4C5;
}

.chat_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: #F5EFEF;
    border-radius: 10px;
}

.chat_content {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.chat_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #161B23;
    height: 10%;
    border-radius: 10px;
    background-color: #F5EFEF;
}

.empty_div {
    height: 10%;
    border-radius: 10px;
    background-color: #F5EFEF;
}

.chat_list {
    overflow-y: auto;
    max-height: 88%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    height: 88%;
    border-radius: 10px;
    background-color: #F5EFEF;
}

.header_parent{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #FC6C85;
    }
.chat_item {
    width: 90%;
    border: 2px solid #F4C4C5;
    border-radius: 10px;
    margin: 5px auto 5px auto;
}

.chat_about {
    margin: 0;
    text-align: start;
}

.chat_name{
    display: block;
    font-size: 15px;
    font-weight: 600;
}

.chat_position{
    display: block;
    font-size: 10px;
    font-weight: 400;
}

.chat_avatarImg {
    border-radius: 50px;
    margin-right: 15px;
}

.chat_count{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #FC6C85;
    font-size: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    right: -5px;
    top: -5px;
}

.chat_link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    color: #161B23;
    text-decoration: none;
}

.chart_percentage1 {
    background-color: #ffa500;
}

.chart_percentage2 {
    background-color: #008000;
}

.chart_percentage3 {
    background-color: #808080;
}

.chart_percentage4 {
    background-color: #FC6C85;
}

.column {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(252, 108, 133, 0.15);
}

.column div {
    height: 150px;
}

.weekItem_time {
    display: block;
}

.notification_button {
    margin-right: 15px;
}

/* .btn{
    position: relative;
}

.header-navigate {
    position: absolute;
    top: 70px;
    left: 100px;
    z-index: 3;
  } */

  .select {
    height: 30px;
    margin: 0 10px 0 0;
    border: none;
  }

  .avatar_dashboard {
    border: none;
  }

  .parent_dom {
    margin-left: 10px;
  }

  .weather_parent {
    display: none;
  }

  /* ///////////////////////////////////// Responsive ======================== */

  @media screen and (max-width: 1400px) {
    .logo-parent{
        width: 450px !important;
        margin-bottom: -2px !important;
    }

    .avatar_chartInner .canvasjs-chart-canvas {
        width: 319px !important;
        height: 156px !important;
        margin-left: -40px;
    }

    .chart .canvasjs-chart-canvas {
        margin-left: 30px;
    }

    .avatar_chartInner {
        padding: 10px 15px;
    }

    .chart_about span {
        font-size: 14px;
    }

    .langTheme svg {
        width: 45px !important;
    }

    .logo-parent {
        width: 300px;
        margin-bottom: -10px;
    }

    .weather {
        width: 180px;
        height: 50px !important;
        padding: 5px 10px;
    }

    .weather .weather_number {
        font-size: 40px !important;
    }

    .avatar_about span {
        font-size: 18px;
    }

    .week_list img {
        width: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .avatarImg {
        width: 40px;
        height: 40px;
    }
    .logo-parent{
        width: 350px !important;
        margin-bottom: -8px !important;
    }   

    .chart .canvasjs-chart-canvas {
        margin-left: 20px;
        margin-top: 10px;
    }

    .avatar_chartInner {
        padding: 10px 15px;
    }

    .chart_about span {
        font-size: 14px;
    }

    .langTheme svg {
        width: 45px !important;
    }

    .logo-parent {
        width: 300px;
        margin-bottom: -10px;
    }

    .theme_parent{
        width: 40px !important;
        height: 40px !important;
    }

    .weather {
        width: 180px;
        height: 40px !important;
        padding: 5px 10px;
    }

    .weather .weather_number {
        font-size: 40px !important;
    }

    .avatar_about span {
        font-size: 18px;
    }

    .week_list img {
        width: 60px;
    }
}

@media screen and (max-width: 992px) {
    .avatarImg {
        width: 40px;
        height: 40px;
    }
    .logo-parent{
        width: 220px !important;
        margin-right: 5px;
        margin-bottom: -15px !important;
    }   
    .select{
        font-size: 12px;
    }
    .chart_name{
        font-size: 10px !important;
    }

    .chart_percentage{
        width: 20px;
        height: 20px;
        font-size: 8px !important;
        color: white;
    }

    .chart .canvasjs-chart-canvas {
        width: 230px !important;
        height: auto !important;
        margin-left: 20px;
        margin-top: 50px;
    }

    .avatar_chartInner {
        padding: 10px 15px;
    }

    .chart_about span {
        font-size: 14px;
    }

    .langTheme svg {
        width: 32px !important;
    }

    .logo-parent {
        width: 300px;
        margin-bottom: -10px;
    }

    .weather {
        width: 100px !important;
        height: 36px !important;
        padding: 5px 10px;
    }

    .weather .weather_number {
        font-size: 32px !important;
    }

    .weather_date{
        font-size: 6px !important;
        margin-top: 20px !important;
    }

    .weather svg{
        margin-top: -5px !important;
    }
    .weather .weather_monstr{
        margin-top: -1px !important;
    }
    .avatar_about span {
        font-size: 16px;
    }
    .avatar_name{
        font-size: 16px;
    }

    .week_list img {
        width: 60px;
    }

    .days {
        font-size: 10px;
    }
    
    .column div {
        height: 120px !important;
    }
    .chat_name{
        font-size: 8px;
    }

    .chat_position{
        font-size: 6px;
    }

    .chat_avatarImg{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .chat_count{
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
}

@media screen and (max-width: 770px) {
    .header_parent{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
        margin-bottom: 10px;
        border-bottom: 3px solid #FC6C85;
        }

        
  
.weather{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 55px;
    padding: 10px;
    color: #ffffff;
    background-color: #FA8072;
    border-radius: 10px;
  }
  
  .weather_number {
    font-size: 56px;
    font-weight: 600;
    line-height: 0;
    margin: 0;
    padding: 0;
    margin-top: 18px;
  }
  
  .weather_date {
    font-size: 14px;
    margin-top: 25px;
  }

  .langTheme {
    width: 100% !important;
    margin-top: 10px;
    justify-content: space-between;
  }

  .avatar{
    flex-direction: column;
  }

  .avatar_inner {
    width: 100%;
  }

  .avatar_chat {
    width: 100%;
    margin-top: 15px;
  }
 .column {
    height: 200px;
 } 

 .avatar_chartInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;

 }
 .chart_about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    flex-wrap: wrap;
 }

 .chart_about p {
    width: 70px;
 }

 .avatar_chartInner .canvasjs-chart-canvas {
    left:300% !important;
 }
}

@media screen and (max-width: 450px) {
    .avatar_about p, .avatar_about span {
        font-size: 12px;
    }
}