/* .school {
  background-color: rgba(231, 225, 236, 1);
} */

.header_dashboard{
display: flex;
align-items: flex-end;
justify-content: space-between;
padding-top: 20px;
margin-bottom: 10px;
border-bottom: 3px solid #FC6C85;
}

.language-dash {
  margin: 0;
  padding: 0;
}

.logo-dashboard {
  padding: 0;
  margin: 0;
}

.userList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.canvasjs-chart-credit {
  display: none;
}

.canvasjs-chart-canvas {
  right: 0;
  left: 50px;
}

.userItem {
  margin: 0;
  padding: 0;
}

.item_text{
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 50px;
  color: #FC6C85;
}

.item_result{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px; 
  margin-left: 50px;
  color: #FC6C85;
}

.canvas{
  width: 600px;
  border: 3px solid #FC6C85;
  border-radius: 40px;
  margin-bottom: 10px;
}

/* .vektor {
  margin: 0 30px 0 30px;
} */

.admin_link {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #FA8072;
}

.dashboard_button{
  background-color: transparent;
  margin-right: 20px;
  border-radius: 50px;
  border: none;
}

.logout {
  display: block;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}

.dashboard_modal {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding: 15px 0;
  margin-top: 20px;
  color: #FC6C85;
  border: 4px solid #FC6C85;
  border-radius: 40px;
  z-index: 7 !important;
}

.weather{
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 55px;
  padding: 10px;
  color: #ffffff;
  background-color: #FA8072;
  border-radius: 10px;
}

.weather_number {
  font-size: 56px;
  font-weight: 600;
  line-height: 0;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.weather_date {
  font-size: 14px;
  margin-top: 25px;
}

.responsive_dashboard{
  display: none;
}

.adminRes_link {
  display: none;
}


/* ==========================Responsive=============================== */


@media screen and (max-width: 1400px) {
  .logo-dashboard {
    width: 420px !important;
    margin-bottom: -4px;
  }
  .canvas{
    width: 500px;
    border: 3px solid #FC6C85;
    border-radius: 40px;
    margin-bottom: 10px;
  }

  .canvasjs-chart-container {
    margin-top: 10px;
    margin-left: -30px;
  }
  .canvasjs-chart-canvas {
    width: 95% !important;
    height: auto !important;
}
}


@media screen and (max-width: 1200px) {
  .canvas{
    width: 400px !important;
    height: 310px !important;
  }

  .canvasjs-chart-container {
    margin-top: 10px !important;
    margin-left: -50px !important;
  }
  .canvasjs-chart-canvas {
    width: 90% !important;
    height: auto !important;
}

.dashboard_modal {
  font-size: 18px !important;
  padding: 10px 0 !important;
}

.weather{
  width: 250px;
  height: 36px !important;
  padding: 5px !important;
}

.weather_number {
  font-size: 24px !important;
  margin-top: 15px;
}

.weather_date {
  font-size: 10px !important;
  margin-top: 15px !important;
}

.weather_monstr{
  width: 36px !important;
  height: 33px !important;
}

.celcy{
  width: 15px;
  height: 15px;
}

.logout {
  padding: 7px !important;
  font-size: 14px !important;
}

.dashboard_icon {
  width: 36px;
  height: 36px;
}

.admin_link {
  font-size: 14px;
  padding: 10px 15px;
}

}

@media screen and (max-width: 1200px) {
  .school .logo-dashboard {
    width: 350px !important;
    margin-bottom: -7px;
  }
  .canvas{
    width: 300px;
    height: 250px;
  }

.dashboard_modal {
  font-size: 18px;
  padding: 10px 0;
  border: 3px solid #FC6C85;
}

.weather{
  width: 150px !important;
  height: 32px !important;
  padding: 2 !important;
}

.weather_number {
  font-size: 16px !important;
  margin-top: 12px;
}

.weather_date {
  font-size: 10px !important;
  margin-top: 13px !important;
}

.weather_monstr{
  width: 36px !important;
  height: 30px !important;
}

.celcy{
  width: 12px !important;
  height: 12px !important;
}

.logout {
  padding: 5px !important;
  font-size: 20px !important;
}

.dashboard_icon {
  width: 42px;
  height: 42px;
}

.admin_link {
  font-size: 16px;
  padding: 5px 10px;
}

.dashboard_modal {
  z-index: 5;
}

.language_dashboard, .theme_dashboard {
  margin-right: 10px !important;
}

.logo-dashboard {
  width: 230px !important;
}

}

@media screen and (max-width: 991px) {

  .canvasjs-chart-container > .canvasjs-chart-tooltip {
    display: none !important;
  }

  .canvas div {
    height: 250px !important;
  }

  .canvasjs-chart-container > .canvasjs-chart-tootip div {
    display: block !important;
    height: 20px !important;
  }
  .school .logo-dashboard {
    width: 250px !important;
    margin-bottom: -14px;
  }
  .canvas{
    width: 300px !important;
    height: 250px !important;
  }

.dashboard_modal {
  font-size: 18px !important;
  padding: 10px 0;
  border: 3px solid #FC6C85;
}

.school .weather{
  width: 120px !important;
  height: 28px !important;
  padding: 2 !important;
}

.school .weather_number {
  font-size: 12px !important;
  margin-top: 10px;
}

.school .weather_date {
  font-size: 8px !important;
  margin-top: 10px !important;
}

.school .weather_monstr{
  width: 26px !important;
  height: 20px !important;
}

.celcy{
  width: 12px !important;
  height: 12px !important;
}

.logout {
  padding: 5px !important;
  font-size: 12px !important;
}

.dashboard_icon {
  width: 42px;
  height: 42px;
  margin-bottom: -5px !important;
}

.school .langTheme {
  display: flex !important;
  align-items: flex-end !important;
}
.school .admin_link {
  font-size: 14px !important;
  padding: 5px 10px;
  margin-bottom: 0px !important;
}

.dashboard_modal {
  width: 100% !important;
  z-index: 5;
}

.item_text {
  font-size: 20px !important;
}

.language_dashboard, .theme_dashboard {
  margin-right: 10px !important;
}

.logo-dashboard {
  width: 230px !important;
}

}


@media screen and (max-width: 770px) {

  .dashboard_inner {
    width: 500px;
  }

  .adminRes_link {
    display: block;
    width: 300px;
    font-size: 20px !important;
    font-weight: 700;
    padding: 14px 20px;
    margin: 10px auto 0 auto;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #FA8072;
    border-radius: 12px;
  }

.dashboard_icon {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

  .header_dashboard .langTheme{
    display: none !important;
  }

  .weather{
    display: none !important;
  }

  .responsive_dashboard {
    width: 100%;
    justify-content: space-between;
  }

  .weather_res{
    display: flex;
    justify-content: space-between;
    width: 150px !important;
    height: 30px;
    padding: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #FA8072;
    border-radius: 10px;
  }
  
  .weather_numberRes {
    font-size: 28px;
    font-weight: 600;
    line-height: 0;
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }

  .weather_dateRes {
    font-size: 10px;
    margin-top: 5px;
  }

  .celcyRes{
    width: 12px !important;
    height: 12px !important;
    margin-top: -8px !important;
  }

  .weather_monstrRes{
    width: 26px !important;
    height: 20px !important;
    margin-top: -5px !important;
  }
  

  .responsive_dashboard{
    display: flex;
    align-items: center;
    background-color: transparent !important;
  }

  .userList{
    flex-direction: column;
    align-items: center;
  }

  .item_text{
    margin: 0;
    text-align: center;
  }

  .userItem{
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .dashboard_inner {
    margin: 0 auto;
    width: 400px;
  }

  .canvasjs-chart-container .canvasjs-chart-tooltip {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .dashboard_inner {
    margin: 0 auto;
    width: 300px;
  }
}