.modal_header{
    display: flex ;
    justify-content: space-between ;
    padding-top: 10px;
}

.close_button {
    margin-right: 40px;
    cursor: pointer;
}

.lateComersImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}