.people_heading {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.people_list {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  margin-top: 20px;
  list-style-type: none;
}

.people_list::-webkit-scrollbar {
  width: 7px;
}

.people_list::-webkit-scrollbar-thumb {
  background-color: #ffbe98;
  border-radius: 4px;
}

.people_list li {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.people_item {
  width: 95%;
  border: 2px solid #ffbe98;
  border-radius: 25px;
}

.people_link {
  display: flex;
  align-items: inherit !important;
  justify-content: space-between;
  text-decoration: none;
  cursor: default;
}

.people_create {
  display: block;
  width: 25px;
  margin-left: auto;
}

.people_delete {
  margin-bottom: 2px;
}

.people_delete:hover , .perople_update:hover{
  opacity: 0.7;
  cursor: pointer;
}
.people_delete:active , .perople_update:active{
  opacity: 1;
}

.emotions {
  min-width: 120px;
}

.emotions:hover {
  cursor: pointer;
}
.people_link p {
  display: block;
  margin: 0 auto;
  padding: 8px 5px 8px 25px !important;
  border-left: 2px solid #ffbe98;
  text-align: start;
  color: #161B23;
}
.people_link img {
  margin-top: 4px !important;
}


.people_name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.people_image {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50px;
}
.name_item{
  min-width: 250px !important;
}

.timePeople {
  cursor: pointer;
}


/* ===================================Responsive====================================== */


@media screen and (max-width: 1400px) {
  .people_heading {
    font-size: 16px !important;
  }

  .people_name {
    font-size: 16px !important;
  }

  .timePeople span {
    font-size: 14px !important;
  }
  
  .people_link p {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px !important;
  }
  
  .name_item{
    min-width: 250px !important;
  }

  .people_image {
    display: flex !important;
    margin: 5px !important;
    align-items: center !important;
  }
}


@media screen and (max-width: 1200px) {
  .people_heading {
    font-size: 16px !important;
  }

  .people_name {
    font-size: 16px !important;
  }

  .timePeople span {
    font-size: 14px !important;
  }
  
  .people_link p {
    padding: 0 5px !important;
  }
  
  .name_item{
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .people_image {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .people_heading {
    font-size: 12px !important;
  }

  .people_name {
    font-size: 12px !important;
  }

  .timePeople span {
    font-size: 10px !important;
  }
  
  .people_link p {
    padding: 0 5px !important;
  }
  
  .name_item{
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .people_image {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
  }

  .timePeople {
    max-width: 100px;
    min-width: 100px !important;
  }

  .emotions {
    min-width: 50px !important;
  }

  .people_emotions{
    font-size: 6px !important;
  }
}

@media screen and (max-width: 500px) {
  .people_heading {
    font-size: 10px !important;
  }

  .people_name {
    font-size: 10px !important;
  }

  .timePeople span {
    font-size: 8px !important;
  }
  
  .people_link p {
    padding: 0 3px !important;
  }
  
  .name_item{
    max-width: 100px !important;
    min-width: 100px !important;
  }

  .people_image {
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    min-width: 35px !important;
  }

  .timePeople {
    max-width: 70px;
    min-width: 70px !important;
  }
}

@media screen and (max-width: 440px) {
  .people_link .name_item{
    max-width: 110px !important;
    min-width: 110px !important;
  }
}

@media screen and (max-width: 400px) {
  .people_heading {
    font-size: 10px !important;
  }

  .people_name {
    font-size: 10px !important;
  }

  .timePeople span {
    font-size: 8px !important;
  }
  
  .people_link p {
    padding: 0 3px !important;
  }
  
  .people_link .name_item{
    max-width: 105px !important;
    min-width: 105px !important;
  }

  .people_image {
    width: 30px !important;
    height: 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
  }

  .timePeople {
    max-width: 70px;
    min-width: 70px !important;
  }
}