.dashboard2 {
    display: block;
    background: linear-gradient(295.83deg, #8047CA 35.05%, #C63F70 100%);
    height:104%;
    color: white;
    padding: 10px;
    margin: 0 auto;
}

.dashboard-body {
    display: flex;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

.dashboard2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

.dashboard2 li {
    width: 550px;
    height: 397px;
    background: rgba(0, 184, 215, 1);
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 24px;
}

.card-one {
    display: flex;
    justify-content: space-between;
}

.card-two {
    display: flex;
    flex-direction: column;
}

.card-two p {
    margin: 0;
}

.card-two button {
    margin-left: 215px;
    margin-top: -41px;
}

.card-two-header {
    display: flex;
    justify-content: space-between;
}

.dashboard2 li h2 {
    font-size: 24px;
}

.card-last h2 {
    margin-bottom: 40px;
}
.dashboard2 li button {
    background: rgba(122, 252, 103, 1);
    padding: 17px 25px;
    border-radius: 15px;
    font-size: 30px;
    border: 0;
    color: white;
    width: 270px;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-there button {
    width: 200px !important;
    height: 200px;
    border-radius: 50% !important;
}
.card-there p {
    display: flex;
    justify-content: flex-end;
}


.card-there-body {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.card-last{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.boyTwo {
    position: absolute;
    width: 330px;
    height: auto;
    left: -10%;
    top: -10%;
}

.card-there-body{
    position: relative;
}

.card-there p{
margin-right: 200px;
}

.allGiff {
    position: absolute;
    width: 330px;
    height: auto;
    left: 40%;
    top: -60%;
}

.card-last div{
    display: block;
    width: 60%;
    margin-left: auto;
}

.card-last button {
    width: 250px;
    height: 250px;
    border-radius: 50% !important;
    padding: 17px 40px !important;
}
.card-last button span{
   font-size: 80px;
   display: block;
}

.dashboard2_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard2_headerButton {
    font-size: 24px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 60px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(250, 128, 114, 1);
    z-index: 5;
}
.logout_dashboard {
    display: block;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 10px !important;
    color: #ffffff;
    background-color: rgba(250, 128, 114, 1);
    z-index: 5;
    cursor: pointer;
  }

  .logout {
    display: block;
    font-size: 24px;
    font-weight: 600;
    padding: 9px 20px;
    border: none;
    border-radius: 10px !important;
    color: #ffffff;
    background-color: #ffbe98;
    z-index: 5;
    cursor: pointer;
  }

  .dashboard2_headerButton:hover, .logout_dashboard:hover {
    background-color: rgba(250, 128, 114, 0.9);
  }

  .dashboard2_headerButton:active, .logout_dashboard:active {
    background-color: rgba(250, 128, 114, 1);
  }
  .card-one, .card-two{
    position: relative;
}
.gifImg {
    position: absolute;
    width: 330px;
    height: auto;
    left: -40px;
    top: -60px;
}

.teacherGif {
    position: absolute;
    width: 320px;
    height: auto;
    left: -40px;
    top: -60px;
}

.card-item{
    margin-left: auto;
}

.card-itemTwo{
    margin-top: 25px;
}
.card-itemTwo p {
    margin-left: 250px;
    margin-bottom: 40px;
}

.dashboard-body button{
    z-index: 5;
}

.dashboard2_heading h2 {
    display: none;
}

.dashboard2_button {
    display: none;
}


.redBack {
    background-color: red !important;
}


/* ==========================Responsive=============================== */


@media screen and (max-width: 1400px) {
    .dashboard2 li {
        width: 450px;
        height: 397px;
        padding: 10px 25px;
        font-size: 20px;
    }

    .card-two button, .card-one button {
        margin-left: 200px !important;
        padding: 10px !important;
        width: 200px !important;
    }
    
    .dashboard2 li h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .boyTwo {
        width: 330px;
        left: -15%;
        top: -10%;
    }

    .card-there button {
        width: 250px !important;
        height: 250px;
        margin-top: 30px;
    }

    .dashboard2 li h2 {
        font-size: 24px;
    }
    
    .card-last h2 {
        margin-bottom: 40px;
    }


    .card-there p{
        margin-right: 150px;
        }
        
        .allGiff {
            width: 330px !important;
            height: auto;
            left: 40%;
            top: -45%;
        }
    
        .card-last button {
            width: 250px !important;
            height: 250px;
        }
  }

  @media screen and (max-width: 1290px) {
    .dashboard2_headerButton {
        font-size: 20px;
        padding: 8px 20px;
        margin-right: 60px;;
    }
    .logout_dashboard {
        font-size: 20px;
        padding: 8px 20px;
      }
      .dashboard2_heading h1 {
        width: 600px;
        font-size: 24px;
      }

      .dashboard-left {
        font-size: 24px !important;
      }
    
  }

  @media screen and (max-width: 1190px) {
    .card-there p{
        margin-right: 150px;
        }
        
        .allGiff {
            width: 300px !important;
            height: auto;
            left: 35%;
            top: -60%;
        }
    .dashboard2 li {
        width: 400px;
        height: 397px;
        padding: 10px 25px;
        font-size: 20px;
    }

    .gifImg {
        width: 300px;
        height: auto;
        left: -70px;
        top: -50px;
    }
    
    .teacherGif {
        width: 290px;
        height: auto;
        left: -50px;
        top: -60px;
    }

    .card-itemTwo p {
        margin-left: 200px;
        margin-bottom: 30px;
    }

    .card-two button, .card-one button {
        margin-left: 150px !important;
        padding: 10px !important;
        width: 200px !important;
    }
    
    .dashboard2 li h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .boyTwo {
        width: 300px;
        left: -17%;
        top: -10%;
    }

    .card-there button {
        width: 200px !important;
        height: 200px;
        margin-top: 10px;
    }

    .card-last button {
        width: 200px !important;
        height: 200px;
        border-radius: 50% !important;
        padding: 17px 40px !important;
    }
    .card-last button span{
        display: block;
       font-size: 36px;
       text-align: center;
    }
    
  }

  @media screen and (max-width: 1090px) {
    .card-there p{
        margin-right: 100px;
        }
        
        .allGiff {
            width: 250px !important;
            height: auto;
            left: 30%;
            top: -70%;
        }
    .dashboard2 ul {
        justify-content: space-around;
    }
    .dashboard2 li {
        width: 300px;
        height: 350px;
        padding: 10px 25px;
        font-size: 20px;
    }

    .gifImg {
        width: 250px;
        height: auto;
        left: -60px;
        top: -30px;
    }
    
    .teacherGif {
        width: 240px;
        height: auto;
        left: -50px;
        top: -40px;
    }

    .card-itemTwo p {
        margin-left: 140px;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .card-one p {
        font-size: 14px;
    }

    .card-two button {
        margin-left: 100px !important;
        padding: 10px !important;
        font-size: 18px !important;
        width: 130px !important;
    }

    .card-one .card-item button {
        margin-left: 50px !important;
        padding: 10px !important;
        font-size: 18px !important;
        width: 130px !important;
    }
    
    .dashboard2 li h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .boyTwo {
        width: 250px;
        left: -20%;
        top: -5%;
    }

    .card-there button {
        width: 120px !important;
        height: 120px;
        margin-top: 30px;
        font-size: 20px !important;
    }


    .card-last button {
        width: 140px !important;
        height: 140px;
        border-radius: 50% !important;
        padding: 10px 20px !important;
        font-size: 22px !important;
        margin-top: 20px;
        margin-left: 10px;
    }

    .card-last button span{
        font-size: 32px !important;
     }
    
  }

  @media screen and (max-width: 1070px) {
    .logout_dashboard {
        font-size: 20px;
        padding: 8px 20px;
      }
      .dashboard2_heading h1 {
        width: 400px;
        font-size: 22px !important;
      }

      .dashboard-left {
        font-size: 22px !important;
      }
  }

  @media screen and (max-width: 860px) {
    .dashboard2_headerButton {
        font-size: 16px;
        padding: 8px 20px;
        margin-right: 60px;;
    }
    .logout_dashboard {
        font-size: 16px;
        padding: 8px 20px;
      }
      .dashboard2_heading h1 {
        width: 200px;
        font-size: 22px !important;
      }
    
  }

  @media screen and (max-width: 635px) {
      .dashboard2_heading h1 {
        display: none;
      }

      .dashboard2_headerButton {
        display: none;
        margin-right: 0;;
    }

    .dashboard2_heading h2 {
        display: block;
        font-weight: bold;
        font-size: 20px;
        width: auto;
        color: #ffbe98;
        padding: 3px 20px;
        margin: 0;
        border: 1px solid #ffbe98;
    }
    
    .dashboard2_heading {
        display: flex !important;
        align-items: center !important;
        justify-content: space-around;
        padding: 20px;
    }
    
    .dashboard-left {
        display: none;
    }

    .dashboard-body ul {
        padding: 0;
    }

    
.dashboard2_button {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ffbe98;
    z-index: 5;
}
.logout_dashboard {
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px !important;
  }

  .dashboard2_button:hover {
    background-color: rgba(250, 128, 114, 0.9);
  }

  .dashboard2_button:active {
    background-color: rgba(250, 128, 114, 1);
  }
    
  }

  @media screen and (max-width: 635px) {
    .dashboard2_heading h2 {
        font-size: 16px;
    }

    .logout_dashboard {
        font-size: 20px;
        padding: 9px 20px;
      }
  }

  @media screen and (max-width: 400px) {
    .dashboard2{
        overflow-x: hidden;
    }
    .dashboard2_heading h2 {
        font-size: 14px !important;
        padding: 3px 10px;

    }

    .logout_dashboard {
        font-size: 20px;
        padding: 7px 20px;
      }
  }

  @media screen and (max-width: 370px) {
    .dashboard2_heading h2 {
        font-size: 14px !important;
        padding: 3px 10px;

    }

    .logout_dashboard {
        font-size: 20px;
        padding: 7px 20px;
      }
  }

  @media screen and (max-width: 350px) {
    .dashboard2_heading {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between;
        padding: 10px;
    }
  }