.dashboard2 {
    display: block;
    background: linear-gradient(295.83deg, #8047CA 35.05%, #C63F70 100%);
    height:104%;
    color: white;
    padding: 10px;
    margin: 0 auto;
}

.dashboard-body {
    display: flex;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

.dashboard2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

.dashboard2 li {
    width: 550px;
    height: 397px;
    background: rgba(0, 184, 215, 1);
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 24px;
}

.card-one {
    display: flex;
    justify-content: space-between;
}

.card-two {
    display: flex;
    flex-direction: column;
}

.card-two p {
    margin: 0;
}

.card-two button {
    margin-left: 215px;
    margin-top: -41px;
}

.card-two-header {
    display: flex;
    justify-content: space-between;
}

.dashboard2 li h2 {
    font-size: 40px;
}

.dashboard2 li button {
    background: rgba(122, 252, 103, 1);
    padding: 17px 25px;
    border-radius: 15px;
    font-size: 30px;
    border: 0;
    color: white;
    width: 270px;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-there button {
    width: 200px !important;
    height: 200px;
    border-radius: 50% !important;
}
.card-there p {
    display: flex;
    justify-content: flex-end;
}


.card-there-body {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.card-last{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.boyTwo {
    position: absolute;
    width: 330px;
    height: auto;
    left: -5%;
    top: -10%;
}

.card-last div{
    display: block;
    width: 60%;
    margin-left: auto;
}

.card-last button {
    width: 250px !important;
    height: 250px;
    border-radius: 50% !important;
    padding: 17px 40px !important;
}
.card-last button span{
   font-size: 80px;
   display: block;
}

.dashboard2_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard2_headerButton {
    font-size: 24px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 60px;
    text-decoration: none;
    color: #ffffff;
    background-color: #FA8072;
}
.logout {
    display: block;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background-color: #FA8072;
    z-index: 5;
    cursor: pointer;
  }

  .dashboard2_headerButton:hover, .logout:hover {
    background-color: rgba(250, 128, 114, 0.9);
  }

  .dashboard2_headerButton:active, .logout:active {
    background-color: rgba(250, 128, 114, 1);
  }
  .card-one, .card-two{
    position: relative;
}
.gifImg {
    position: absolute;
    width: 330px;
    height: auto;
    left: -40px;
    top: -60px;
}

.teacherGif {
    position: absolute;
    width: 320px;
    height: auto;
    left: -40px;
    top: -60px;
}

.card-item{
    margin-left: auto;
}

.card-itemTwo{
    margin-top: 25px;
}
.card-itemTwo p {
    margin-left: 250px;
    margin-bottom: 40px;
}
