.teacher_heading{
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  .teacher_list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 350px;
    margin-top: 20px;
    list-style-type: none;
  }
  
  .teacher_list::-webkit-scrollbar {
    width: 7px;
  }
  
  .teacher_list::-webkit-scrollbar-thumb {
    background-color:#FA8072;
    border-radius: 4px;
  }
  
  .teacher_list li {
    border: 2px solid #FC6C85;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .teacher_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  
  
  .teacher_link p {
    margin: 0;
    padding: 8px 30px 8px 30px;
    border-left: 2px solid #FC6C85;
    text-align: start;
    color: #161B23;
  } 
  
  .teacher_name{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .teacher_image {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    border-radius: 50px;
  }