.teacher_heading{
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.teacher_list {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 350px;
  margin-top: 20px;
  list-style-type: none;
}

.teacher_list::-webkit-scrollbar {
  width: 7px;
}

.teacher_list::-webkit-scrollbar-thumb {
  background-color:#FA8072;
  border-radius: 4px;
}

.teacher_list li {
  border: 2px solid #FC6C85;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.teacher_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}


.teacher_link p {
  margin: 0;
  padding: 8px 30px;
  border-left: 2px solid #FC6C85;
  text-align: center;
  color: #161B23;
} 

.teacher_name{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.teacher_image {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50px;
}

/* ===================================Responsive====================================== */


@media screen and (max-width: 1400px) {
  .teacher_heading {
    font-size: 16px !important;
  }

  .teacher_name {
    font-size: 16px !important;
  }

  .timeTeacher span {
    font-size: 14px !important;
  }
  
  .teacher_link p {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px !important;
    height: 80px !important;
  }
  
  .name_item{
    min-width: 250px !important;
  }

  .teacher_image {
    display: flex !important;
    margin: 5px !important;
    align-items: center !important;
  }
}


@media screen and (max-width: 1200px) {
  .teacher_heading {
    font-size: 16px !important;
  }

  .teacher_name {
    font-size: 16px !important;
  }

  .timeTeacher span {
    font-size: 14px !important;
  }
  
  .teacher_link p {
    padding: 0 5px !important;
    height: 70px !important;
  }
  
  .name_item{
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .teacher_image {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .teacher_heading {
    font-size: 12px !important;
  }

  .teacher_name {
    font-size: 12px !important;
  }

  .timeTeacher span {
    font-size: 10px !important;
  }
  
  .teacher_link p {
    height: 50px !important;
    padding: 0 5px !important;
  }
  
  .name_item{
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .teacher_image {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
  }

  .timeTeacher {
    max-width: 100px;
    min-width: 100px !important;
  }
}


@media screen and (max-width: 500px) {
  .teacher_heading {
    font-size: 10px !important;
  }

  .teacher_name {
    font-size: 10px !important;
  }

  .timeTeacher span {
    font-size: 8px !important;
  }
  
  .teacher_link p {
    padding: 0 3px !important;
  }
  
  .name_item{
    max-width: 100px !important;
    min-width: 100px !important;
  }

  .teacher_image {
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    min-width: 35px !important;
  }

  .timeTeacher {
    max-width: 70px;
    min-width: 70px !important;
  }
}

@media screen and (max-width: 440px) {
  .teacher_link .name_item{
    max-width: 110px !important;
    min-width: 110px !important;  
  }

  .teacher_link .teacher_heading {
    font-size: 8px !important;
  }

  .teacher_link .teacher_name {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 400px) {
  .teacher_link .teacher_heading {
    font-size: 10px !important;
  }

  .teacher_link .teacher_name {
    font-size: 10px !important;
  }

  .teacher_link .timeTeacher span {
    font-size: 8px !important;
  }
  
  .teacher_link p {
    padding: 0 3px !important;
  }
  
  .teacher_link .name_item{
    max-width: 120px !important;
    min-width: 120px !important;
  }

  .teacher_image {
    width: 30px !important;
    height: 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
  }

  .timeTeacher {
    max-width: 80px;
    min-width: 80px !important;
  }
}