.class_heading{
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.class_list {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  margin-top: 20px;
  list-style-type: none;
}

.class_list::-webkit-scrollbar {
  width: 7px;
}

.class_list::-webkit-scrollbar-thumb {
  background-color:#FA8072;
  border-radius: 4px;
}


.class_list li {
  border: 2px solid #ffbe98;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.class_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}


.class_link p {
  margin: 0;
  padding: 8px 30px;
  border-left: 2px solid #ffbe98;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #161B23;
} 

.class_heading1 {
  margin: 0;
  padding-left: 20px;
  text-align: center;
  color: #161B23;
}

.class_name{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.class_image {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50px;
}

.emotions{
  margin: 0 !important;
}



/* ===============================Responsive==================================== */

@media screen and (max-width: 1400px) {
  .class_heading {
    font-size: 14px !important;
  }

  .class_name {
    font-size: 14px !important;
  }

}

@media screen and (max-width: 1200px) {
  .class_link p {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px !important;
  }
  .class_heading {
    font-size: 16px !important;
  }

  .class_name {
    font-size: 16px !important;
  }

  .timeclass span {
    font-size: 14px !important;
  }
  
  .class_link p {
    padding: 0 5px !important;
    height: 70px !important;
  }
  
  .name_item{
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .class_image {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .class_heading {
    font-size: 12px !important;
  }

  .class_name {
    font-size: 12px !important;
  }

  .timeclass span {
    font-size: 10px !important;
  }
  
  .class_link p {
    height: 50px !important;
    padding: 0 5px !important;
  }
  
  .name_item{
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .timeclass {
    max-width: 100px;
    min-width: 100px !important;
  }
}

@media screen and (max-width: 500px) {
  .class_heading {
    font-size: 10px !important;
  }

  .class_name {
    font-size: 10px !important;
  }

  .timeclass span {
    font-size: 8px !important;
  }
  
  .class_link p {
    padding: 0 3px !important;
  }
  
  .name_item{
    max-width: 100px !important;
    min-width: 100px !important;
  }

  .class_image {
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    min-width: 35px !important;
  }

  .timeclass {
    max-width: 70px;
    min-width: 70px !important;
  }
}

@media screen and (max-width: 440px) {
  .class_heading1 {
    margin: 0 auto;
    padding: 0 10px !important;
  }
  .class_link .name_item{
    max-width: 110px !important;
    min-width: 110px !important;  
  }

  .class_link .class_heading {
    font-size: 8px !important;
  }

  .class_link .class_name {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 400px) {
  .class_link .class_heading {
    font-size: 10px !important;
  }

  .class_link .class_name {
    font-size: 10px !important;
  }

  .class_link .timeclass span {
    font-size: 8px !important;
  }
  
  .class_link p {
    padding: 0 3px !important;
  }
  
  .class_link .name_item{
    max-width: 120px !important;
    min-width: 120px !important;
  }

  .class_image {
    width: 30px !important;
    height: 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
  }

  .timeclass {
    max-width: 80px;
    min-width: 80px !important;
  }
}